.header {
  position: sticky;
  z-index: 1;
  top: 0;
}

/*----------- header lower---------------- */

.header .lower {
  padding: 0 8px;
  background-color: rgba(9, 70, 42, 0.74);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.4rem, 2vw, 1rem);
}
.logo img {
  width: clamp(2rem, 5vw, 4rem);
  height: clamp(1.8rem, 4vw, 3.5rem);
}
.logo h2 {
  font-size: clamp(0.7rem, 2vw, 1rem);
}
.logo h2 span {
  display: block;
}

.page-links {
  display: flex;
  gap: 2rem;
}
.page-links a {
  color: whitesmoke;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.page-links a:hover {
  border-bottom: 2px solid whitesmoke;
  color: black;
}
@media (max-width: 542px) {
  .page-links {
    display: none;
  }
}
.btns a {
  color: whitesmoke;
  text-decoration: underline;
}
