.login-container {
  text-align: center;
  margin-top: 50px;
  background-color: #e3e3e3;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: darkred;
  font-size: 24px;
  margin-bottom: 5px;
}

h2 {
  color: darkred;
  margin-bottom: 20px;
  font-size: 16px;
}

.login-form label {
  display: flex;
  margin: 10px 0 5px;
  font-size: 14px;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 2px solid purple;
  border-radius: 5px;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.login-button,
.cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4a5568;
  color: white;
}

.cancel-button {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cbd5e0;
  color: black;
}

.login-options {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot-password {
  text-decoration: underline;
  color: blue;
}

.register-link {
  display: block;
  margin-top: 20px;
  color: blue;
}


