.header {
  position: sticky;
  z-index: 1;
  top: 0;
}

/*----------- header lower---------------- */

.header .lower {
  padding: 0 8px;
  background-color: rgba(9, 70, 42, 0.74);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.4rem, 2vw, 1rem);
}

.logo h2 {
  font-size: clamp(0.7rem, 2vw, 1rem);
}
.logo h2 span {
  display: block;
}

.page-links {
  display: flex;
  gap: 2rem;
}
.page-links a {
  color: whitesmoke;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.page-links a:hover {
  border-bottom: 2px solid whitesmoke;
  color: black;
}
@media (max-width: 542px) {
  .page-links {
    display: none;
  }
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.profile-info {
  border-radius: 30px 0 0 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile-name h2 {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 4px;
}

.initials h3 {
  background-color: aliceblue;
  padding: 5px;
  border-radius: 50%;
}
button {
  display: flex;
  background: none;
  border: none;
  outline: none;
}
